src/main/mule/insertdatabase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="df62cce6-75fb-4129-ad63-5e4aeff0e108">
		<db:my-sql-connection host="localhost" port="3306"
			user="root" password="test" database="mydb"/>
	</db:config>
	<file:config name="File_Config" doc:name="File Config"
		doc:id="de9b6ebc-157e-4d26-b310-9980fbb3ba09">
		<file:connection workingDir="H:\mule-batch\input" />
	</file:config>
	<flow name="insertdatabase" doc:id="87aa2d87-6e59-463f-a99d-5944d70f93e8" >
		<file:listener doc:name="On New or Updated File" doc:id="7655e933-0e05-4d9b-8d91-45243a31556d" config-ref="File_Config" moveToDirectory="H:\mule-batch\archive">
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="472d8c53-33a1-428f-9b94-e52f1bf70192" />
		<ee:transform doc:name="Transform Message" doc:id="b1b284e1-c5ca-4c38-8fe5-5b310d3b462f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
		
		id: $.id,
		name: $.name,
		department: $.department
}

 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="02d49668-3f1e-44b1-853b-9315f90a5e77" config-ref="Database_Config">
			<db:sql >INSERT INTO developer2(id, name, department)
VALUES (:id, :name, :department)</db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="b57675e2-3e6e-42cd-b4ca-8ee44f1daceb" message="#[payload]" />
	</flow>
</mule>
